.section_header {
  margin-top: 120px;
}

.bigTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
}

.gradientText {
  background: var(--gradient-turqoise-to-dodger);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-family: "Rota";
  font-size: 18px;
  max-width: 688px;
  margin-top: 5px;
}

.section_about_me {
  margin-top: 160px;
}

.section_about_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.section_about_description {
  max-width: 512px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section_works {
  margin-top: 160px;
}

.section_works__experience {
  margin-top: 56px;
}

@media screen and (max-width: 768px) {
  .section_header {
    margin-top: 24px;
  }

  .bigTitle {
    font-size: 40px;
    line-height: 46px;
  }

  .description {
    font-size: 15px;
  }

  .section_about_me {
    margin-top: 80px;
  }

  .section_about_container {
    flex-direction: column-reverse;
  }

  .section_about_description {
    max-width: unset;
    width: 100%;
    padding-right: unset;
    align-items: flex-start;
  }

  .section_about_description h1 {
    margin-top: 30px;
  }

  .section_about_description p {
    margin-top: 43px;
  }

  .section_works {
    margin-top: 100px;
  }
}
