.section_header {
  margin-top: 120px;
}

.bigTitle {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
}

.gradientText {
  background: var(--gradient-turqoise-to-dodger);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-family: "Rota";
  font-size: 18px;
  max-width: 688px;
  margin-top: 5px;
}

.section_about_me {
  margin-top: 160px;
}

.section_about_container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.section_about_description {
  max-width: 512px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section_about_description p a {
  color: var(--color-bright-turquoise);
  display: inline-block;
  position: relative;
  text-decoration: none;
  outline: none;
}

.section_about_description p a::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--color-bright-turquoise);
  transition: width 0.4s;
}

.section_about_description p a:focus::after,
.section_about_description p a:active::after,
.section_about_description p a:hover::after {
  width: 100%;
}

.section_works {
  margin-top: 160px;
}

.section_works__experience {
  margin-top: 56px;
}

.section_projects {
  margin-top: 120px;
}

.section__projects_container {
  margin-top: 80px;
}

.project:not(:nth-child(1)) {
  margin-top: 90px;
}

.section_contact {
  margin-top: 120px;
  position: relative;
  display: flex;
  align-items: center;
  height: 410px;
}

.section_contact h2 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 70px;
}

.section_contact p {
  max-width: 600px;
}

.section_contact a {
  display: inline-flex;
  margin-top: 56px;
}

.section_contact_bg_img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.section_contact_bg_img > * {
  width: 205px !important;
}

@media screen and (max-width: 1040px) {
  .section_contact_bg_img {
    right: -20px;
  }
}

@media screen and (max-width: 768px) {
  .section_header {
    margin-top: 24px;
  }

  .bigTitle {
    font-size: 40px;
    line-height: 46px;
  }

  .description {
    font-size: 15px;
  }

  .section_about_me {
    margin-top: 80px;
  }

  .section_about_container {
    flex-direction: column-reverse;
    margin-bottom: 47px;
  }

  .section_about_description {
    max-width: unset;
    width: 100%;
    padding-right: unset;
    align-items: flex-start;
  }

  .section_about_description h1 {
    margin-top: 30px;
  }

  .section_about_description p {
    margin-top: 43px;
  }

  .section_works {
    margin-top: 100px;
  }

  .section_projects {
    margin-top: 100px;
  }

  .project:not(:nth-child(1)) {
    margin-top: 70px;
  }

  .section_contact {
    margin-top: 87px;
    flex-direction: column;
    height: unset;
    align-items: unset;
  }

  .section_contact h2 {
    font-size: 40px;
  }

  .section_contact p {
    max-width: unseet;
  }

  .section_contact a {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
  }
}
