.section_posts {
  margin-top: 85px;
}

.section_posts_container {
  margin-top: 50px;
}

.section_posts_container article {
  width: 512px;
  margin-top: 20px;
}

.load_more {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .section_posts {
    margin-top: 50px;
  }

  .section_posts_container article {
    width: 100%;
    margin-top: 20px;
  }

  .load_more {
    width: 100%;
    justify-content: center;
  }
}
