.content-size-lg {
  max-width: var(--layout-max-content-size);
  margin: 0 auto;
  width: 100%;
}

.content-size-md {
  max-width: var(--layout-md-content-size);
  margin: 0 auto;
  width: 100%;
}

.content-size-sm {
  max-width: var(--layout-sm-content-size);
  margin: 0 auto;
  width: 100%;
}
