@import url("./reset.css");

@import url("./variables.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-black-pearl);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Rota";
  font-weight: 500;
  font-size: 14px;
  color: var(--color-white);
  font-weight: 300;
  line-height: 1.6;
}

footer.footer a {
  font-family: "Azeret Mono";
  font-weight: 500;
  font-size: 12px;
  color: var(--color-gray);
  text-decoration: none;
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

footer.footer a:focus,
footer.footer a:active {
  outline: dashed var(--color-bright-turquoise);
}

footer.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 37px;
}

a[href="#skip-to-content"] {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  font-size: 15px;
  font-family: "Azeret Mono";
  font-weight: 500;
  color: var(--color-white);
  text-decoration: none;
  padding: 10px;
  background: var(--color-black-pearl);
  z-index: 1;
}

a[href="#skip-to-content"]:focus {
  left: 10px;
  top: 10px;
  transform: translateY(0%);
  outline: dotted var(--color-bright-turquoise);
  transition: all 0.2s;
}

b {
  font-weight: bold;
}

.u-flex-center {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .u-hide-md_lg {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .u-hide-sm {
    display: none !important;
  }

  footer.footer {
    padding: 6px 0;
  }
}

@media screen and (max-width: 1040px) {
  body {
    padding: 0 20px;
  }
}
