@import url("./reset.css");

@import url("./variables.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-black-pearl);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Rota";
  font-weight: 500;
  font-size: 14px;
  color: var(--color-white);
  font-weight: 300;
  line-height: 1.6;
}

a[href="#skip-to-content"] {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  font-size: 15px;
  font-family: "Azeret Mono";
  font-weight: 500;
  color: var(--color-white);
  text-decoration: none;
  padding: 10px;
}

a[href="#skip-to-content"]:focus {
  left: 10px;
  top: 10px;
  transform: translateY(0%);
}

b {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  a:focus,
  a:active {
    outline: dotted var(--color-bright-turquoise);
    transition: all 0.2s;
  }

  .u-hide-md_lg {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .u-hide-sm {
    display: none !important;
  }
}

@media screen and (max-width: 1040px) {
  body {
    padding: 0 20px;
  }
}
